<h1>Please enter a title.</h1>
<form method="POST" action="/movies">
  <label for="user_name">Movie Title</label>
  <input type="text" name="movie[title]">
  <input type="submit" value="Search">
</form>
