<h1>Search Results:</h1>
<%session[:movies].each do |movie_id|%>
  <%movie=Movie.find(movie_id)%>
  <div>
    <img src="<%=movie.image_url%>" alt="Movie Poster" height="150" width="120">
    <br>
    <a href="/movies/<%=movie.id%>"><%=movie.title%></a>
    <br>
    <br>
</div>
<%end%>
<%session[:movies]=[]%>
